.choose-us-bg{
    background-color: #000000;
    font-family:"Roboto", sans-serif ;
    /* padding-top: 60px;
    padding-bottom: 60px; */
    padding:30px;

}

@media  screen and (min-width:768px) {
    .choose-us-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}

.choose-us-head-container {
    text-align: center;
    opacity: 0; /* Hidden initially */
    transform: translateY(-70px); /* Set starting position for the animation */
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

.animate-choose-us {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide to final position */
}


.choose-us-head-container h1{
    color: #F4C196;
    font-size:25px;
    font-weight:700;
    line-height: 1.5;
    padding-bottom: 10px;
}

@media screen and (min-width:992px) {
    .choose-us-head-container h1{
        font-size: 35px;
        line-height: 3;
    }
}


.choose-us-head-container h3{
    font-size:14px;
    font-weight: 400;
    color: #bdbdbd; 
    line-height:1.5;
    padding-bottom: 10px;

}


@media screen and (min-width:992px) {
    .choose-us-head-container h3{
        font-size:20px;
        font-weight: 400;
        color: #bdbdbd; 
    }
}


.success-stry-ul-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    gap:20px;
}

.success-stry-head{
    color: #BDBDBD;
     font-size: 30px;
     font-weight: 500;
     text-align: center;
     margin-top: 60px;
     margin-bottom: 50px;
}

@media screen and (min-width:1024px){
    .success-stry-head{
        font-size: 30px;
    }
}

.success-stry-head span{
    color: #F4C196;
} 

.success-stry-ul-con li{
    text-align: center;
    transition: all 0.3s ease;
}
.success-stry-ul-con h1 {
    color:#F4C196;
    font-size: 27px;
    font-weight: 500;
}

@media screen and (min-width:1024px){
    .success-stry-ul-con h1{
        font-size: 35px;
    }
}

.success-stry-ul-con h4 {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 16px;
} 

@media screen and (min-width:1024px){
    .success-stry-ul-con h4 {
        font-size: 20px;
    }
}

.success-stry-ul-con li:hover {
    filter: drop-shadow( 0 0 20px #f4c196);
    transform: translate(1px, 1px); 
   }
