.form-container{
    background-color: #353535;
    padding: 25px;
    border-radius: 15px;
    margin: 20px;
    font-family: "Roboto","Sans-serif";
    color: white;
 }
 
 @media screen and (min-width:992px) {
     .form-container{
         margin: 0;
         width:700px;
     }
 }
 
 .form-head-container{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .form-head{
    color: #F4C196;
    font-size: 24px;
}
 
 
 .form-line{
     width:100px;
     border: none; 
     height: 2px; 
     background-color: #f5b895; 
     margin-bottom: 20px;
 }
 
 .para-container{
     margin-bottom: 20px;
     text-align: center;
     font-size: 16px;
     color: #bdbdbd;
 }
 
 
 @media  screen and (min-width:992px) {
     .name-phne-container,.role-email-container{
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
     
     .name-container,.role-container,.phone-container,.email-container,.message-container{
        margin: 20px;
     }
     
 }
 
 .name-container,.role-container{
     width: 100%;
 }
 
 .phone-container,.email-container{
     width: 100%;

 }
 
 form input,textarea,select {
     width:100%;
     background-color: transparent;
     outline: none;
     border: none;
     color: #ffffff;
     font-weight: 400;
     font-size: 15px;
     font-family: 'Roboto';
     
 }
 
 form label {
     font-size: 15px;
     font-weight: 400;
     color: #bdbdbd;
 }
 .input-container{
     display: flex;
     align-items: center;
     width: 100%;
     border: 2px solid #bdbdbd;
     border-radius: 7px;
     padding: 10px;
     margin-bottom: 15px;
     margin-top: 10px;
 }
 
 
 form span {
     font-size: 13px;
 
 }
 .form-icon{
     margin-right: 10px;
     font-weight: 300;
 }
 
  #file-name {
    color: #888;
    font-size: 1em;
    font-weight: 400;
  }

  .select-con{
    color: #ffffff;
    background-color: #353535;
    font-weight: 300; 
  }

@media screen and (min-width:992px) {
    .resume-container{
        margin: 0px 100px;
     }   
}
 
 .form-btn-container{
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }
 
 .form-btn-container button {
     height:35px;
     width:110px;
     border-radius: 7px;
     background-color: #F4C196;
     color: black;
     font-size: 14px;
     font-weight: 500;
     outline: none;
     border: none;
 }
 
 