  .service-card{
    display: none;
  }

  .mobile-service-card{
    background-color:#353535 ;
    width:100%;
    border-radius: 12px;
    padding: 10px;
    margin:2%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }


  @media screen and (min-width:992px) {
    .mobile-service-card{
      display: none;
    }
    .service-card{
      background-color:#353535 ;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      width:45%;
      padding: 10px;
      margin: 2%;
    }
  }
  
  .field-img{
    width:100px;
    height: 100%;
  }
  
  .field-card{
    list-style-type: none;
  }
  
  .field-head{
    margin-bottom: 20px;
    color: #f9f9f9;
    font-size: 25px;
    font-weight: 500;
  }

  .mobile-field-head{
    margin-bottom: 20px;
    color: #f9f9f9;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
  }

  @media screen and (min-width:768px) {
    .mobile-field-head{
      font-size: 25px;
    }
    .field-item-head{
      color:#BDBDBD;
      font-size: 20px;
    }
  }
  
  .field-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .field-item-icon{
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  
  .field-item-head{
    color:#BDBDBD;
    font-size: 16px;
  }

  .mobile-service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }