.porttfolio-section-bg-container{
    color: white;
    font-family:"Roboto", sans-serif ;
   
}

.portfolio-section-head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  
 }

.porttfolio-section-bg-container h1{
    color: #BDBDBD;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    /* position: relative; */
    padding-bottom: 10px;
 
}

@media screen and (min-width:1024px) {
    .porttfolio-section-bg-container h1{
        font-size: 35px;
    }
}

.porttfolio-section-bg-container h3 {
    color:#F4C196;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  
}

@media screen  and (min-width:992px) {
    .porttfolio-section-bg-container h3 {
        text-align: left;
        padding-left: 10%; 
         
    }
        
}

.porttfolio-section-bg-container span {
    color:#F4C196;
}

.porttfolio-section-bg-container hr{ 
  border-top: 2px solid #BDBDBD;
  width: 200px;
}
