header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #353535;
    font-family: "Roboto", sans-serif;
    /* margin-top: 50px; */
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 8px;
    position: fixed;
    z-index: 5;
    top:0;
    left:6%;
}

.header-ul-con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-left: 20px;
}
.remove-line{
    text-decoration: none;
}
.header-ul-con li{
    margin-right: 40px;
    margin-left: 40px;
    color: #fff;
    font-size: 19px;
}

.active-class{
    text-decoration: underline;
    color:#fac196;
}

/* .color {
    color: #fac196;
} */
 
.btn-style-header{
    height: 40px;
    width:120px;
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid #CEA57B;
    color: #fac196;
    background-color: transparent;
    font: inherit;
    font-size: 15px;
    font-weight:400;
}


.dd-logo{
  height: 25px;
  width: 25px;
}

