
.timeline{
    position: relative;
    max-width: 1200px;
    margin:100px;
    padding:20px 0 ;
    z-index: 1;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);

    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}

.text-box{
   padding: 30px 20px;
   background: transparent;
   position: relative;
   border-radius: 6px;
   font-size: 15px; 
   border: 1px solid #F4C196;
}

.left-container{
    left: 0;
}

.right-container{
    left:50%;
}

.number-container{
    border: 2px solid #F4C196;
    height:40px;
    width:40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -20px;
    top:32px;
    z-index: 10;
    background-color: #F4C196;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.left-container .number-container{
    right: -20px;
}

.right-container .number-container{
    left: -20px;
}


.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: #bdbdbd;
    top:0;
    left: 50%;
    margin-left: -1.5px;
    z-index:-1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
       height: 0; 
    }
    100%{
        height: 100%;
    }
}

.text-box h1{
    font-weight: 600;
    color: #F4C196;
    margin-bottom: 20px;
}

.text-box p {
    color: #bdbdbd;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #F4C196;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F4C196;
    left: -15px;
}

@media screen and (max-width:1169px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px; 
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }

    .text-box h1{
        font-size: 21px;
        font-weight: 500;
    }
    .text-box p {
        font-size: 14px;
    }
    .right-container{
        left: 0;
    }
    .right-container .number-container, .left-container .number-container{
       left: 10px;
    } 
    .right-container-arrow, .left-container-arrow{
        border-right: 15px solid #F4C196;
        border-left: 0;
        left: -15px;
    }
    
}
