footer {
    background-color: #353535;
    padding: 0px 30px;
}

@media screen and (min-width:552px) {
    .small-sec-footer-bg{
      display: none;
    }    
}


.small-sec-footer{
    background-color: #353535;
    color: #ffffff;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding:40px 0px;
}

.footer-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.medium-sec-footer{
   display: none;
}

@media screen and (min-width:552px) {
    .medium-sec-footer{
        background-color: #353535;
        color: #ffffff;
        font-family: 'Roboto';
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        padding:40px 0px;
    }
}

@media screen and (min-width:1024px) {
    .medium-sec-footer{
        padding:40px 150px;
    }
}
.footer-div-sec{
   display: flex;
   flex-direction: column;
   align-items: start;
}

footer h1 {
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 500;
}

@media screen and (min-width:1024px) {
    footer h1 {
        font-size: 24px;
    }
}

ul{
    list-style-type: none;
}

footer ul li{
    margin-bottom: 15px;
    color: #bdbdbd;
}

footer button{
    height:40px;
    width:160px;
    background-color: #F4C196;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: none;
}

.angle-right-icon{
    margin-left: 6px;
}

footer h3{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.apps-icon-container{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-icon{
   font-size: 20px;
}